body
{
    font-family: 'Lobster', cursive;
}

.home-btn
{
    width: 100px;
    height: 40px;
    margin-top: none;
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;    
    transition: background-color 0.15s;
        color: 0.15s;
}
.home-btn:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}

#logo
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container
{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 545px;
    margin-bottom: 80px;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

#username-text , #password-text
{
    width: 300px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    display: flex;
    border: 1px solid gray;
    
    padding-left: 10px;

    
}
#username-text::placeholder{
    font-family: 'Lobster', cursive;
}

#password-text::placeholder{
    font-family: 'Lobster', cursive;
}


.login-btn 
{
    width: 100px;
    height: 40px;
    margin: 20px;
    color: white;
    background-color: black;
    border-radius: 40px;
    border: 0px;
    transition: background-color  0.15s;
        color : 0.15s;
        
}
.login-btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;

}

#btns 
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}
.signup-container{
    width: 400px;
    height: 75px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin: auto;
}
.signup-text{
    text-align: center;
}
a{
  cursor: pointer;  
}
.seperation1{
    margin: auto;
    width: 130px;
    border: 2px solid black;
    display: inline-block;
}
.seperation2{
    margin: auto;
    width: 130px;
    border: 2px solid black;
    display: inline-block;
}
.or-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#or{
    
}
.forgotten{
    text-align: center;
}
.signup-link{
    font-size: x-large;
}

