body
{
    font-family: 'Lobster', cursive;
}



.home-btn{
    width: 100px;
    height: 40px;
    margin-top: none;
    color: white;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;
    transition: background-color 0.15s;
        color: 0.15s;
}
.home-btn:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
#signup-text
{
   text-align: center;
   font-size: xx-large;
}
.signup-wrapper{
    display: flex;
    justify-content: center;
}
.signup-container
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px;
    height: 400px;
    width: 320px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: white;
    opacity: 0.8;

}

label
{
    font-style: italic;
    padding: 10px;
    font-weight: bolder;
}

.name-text , .email-text , .password-text , .mobileno-text
{
    width: 300px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    display: flex;
    border: 1px solid gray;
    padding-left: 10px;
}

.regis-checkbox-container
{
    display: flex;
    flex-direction: row;
}
.mobileno-text{
    margin-bottom: 50px;
}
#register-btn
{
    width: 100px;
    height: 40px;
    margin-top: none;
    position: sticky;
    color: white;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;
    margin-right: 10px;
}

#register-btn:hover{
    opacity: 0.8;
}
#checkbox
{
    margin: 9px;
    padding: 10px;
}

