body{
    background-image: url("https://images.pexels.com/photos/100733/pexels-photo-100733.jpeg?cs=srgb&dl=pexels-monoar-rahman-100733.jpg&fm=jpg");
    background-size: cover;
}
#logo{
    background-color: black;
    color: white;
    height:80px;
    width: 80px;
    border-radius: 70px;
    margin: 15px auto 25px auto;
}
#text{
    text-align: center;
    padding: 30px 0px 0px 0px;
}
#line{
    background-color: white;
    width:89%;
    height:1px;
    margin:0 auto 25px auto;
}
#nav-bar{
    height: 40px;
    margin:0 5% 0 5%;
    display:flex;
    justify-content: space-between;
}
#group-1{
    width:30%;
    display:flex;
    justify-content: flex-start;
}
#group-2{
    width:50%;
    display:flex;
    justify-content: space-between;
}
#nav-bar button{
    background-color: rgba(255, 255, 255,0);
    height:40px;
    padding:10px;
    color: white;
    font-size: 15px;
    border:0;
    border-radius: 5px;
}
#nav-bar button:hover{
    background-color:  rgba(0, 0, 0,1);
}
#main{
    width:90%;
    margin:50px auto;
}
#main H2{
    color: white;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#slots{
    padding: 25px;
    display:grid;
    grid-template-columns:250px 250px 250px 250px;
    grid-template-rows:50px;
    grid-auto-columns: 250px;
    grid-auto-rows: 50px;
    grid-auto-flow: row;
    gap: 25px 100px;
}
#slots button{
        width: 250px;
        height:50px;
        background-color: black;
        color: white;
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        border-color: goldenrod;
        border-style: solid;
        border-radius: 5px;
}
#slots button:hover{
        font-size: 20px;
}
/* #slots button:active{
    color: red;
} */
